DJANGO_SETTINGS_MODULE=config.settings.local
SECRET_KEY=change-me-locally
DEBUG=true
DATABASE_URL=postgresql://caffeine-lane:caffeine-lane@localhost:5432/caffeine-lane
ALLOWED_HOSTS=localhost,127.0.0.1
CSRF_TRUSTED_ORIGINS=http://localhost:8000
CLOUDINARY_URL=
DEFAULT_FROM_EMAIL=noreply@example.com
CONTACT_RECIPIENT_EMAIL=owner@example.com
