{% extends "layouts/account.html" %}
{% load i18n %}
{% block title %}{% translate "Password updated · The Caffeine Lane" %}{% endblock title %}
{% block account_visual_title %}{% translate "You are back in the lane." %}{% endblock account_visual_title %}
{% block account_visual_copy %}{% translate "Your new password is in place. Sign in and pick up where you left off." %}{% endblock account_visual_copy %}
{% block account_visual_mark %}{% translate "The Rider welcoming you back" as rider_alt %}{% include "components/character_badge.html" with asset="character-welcome.webp" size="md" alt=rider_alt class_name="auth-shell__rider" %}{% endblock account_visual_mark %}
{% block account_panel %}
  <div class="account-state account-state--success">
    <i class="fa-solid fa-circle-check account-state__icon" aria-hidden="true"></i>
    <p class="auth-card__eyebrow">{% translate "Password updated" %}</p>
    <h2 id="auth-form-heading" class="auth-card__title">{% translate "Welcome back." %}</h2>
    <p class="auth-card__intro">{% translate "Your password has been reset. You can now sign in with it." %}</p>
    <a class="button-primary mt-7" href="{% url 'login' %}">{% translate "Sign in" %}</a>
  </div>
{% endblock account_panel %}
